
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>500 - internal server error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="https://cdn.futurice.com/bootstrap/latest/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="https://cdn.futurice.com/bootstrap/latest/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>500 - Internal server error</h1>
        <p>Oh crap. Something went seriously wrong. We'll fix this as soon as possible. Feel free to contact <a href="mailto:admin@futurice.com">admin@futurice.com</a> if you feel you know something we should know too.</p>

      </div>

    </div> <!-- /container -->
  </body>
</html>

